* {
  box-sizing: border-box;
}

.parkName {
  font-size: 16px;
  letter-spacing: 0.5px;
  max-height: 37.5px;
  overflow: hidden;
}

.rating {
  /* align-self: flex-start; */
  border-radius: 50%;
  border: 2px solid;
  flex: 0 0 35px;
  font-size: 12px;
  height: 35px;
  line-height: 33px;
  text-align: center;
}


#items li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 2px 4px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
}

